@model EcommerceClient.Models.Views.ReportsVModel
@{
    ViewBag.Title = "ByCity";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
<div class="card" id="products-app">
    <div class="row">
        <div class="col-md-12 mr-0 pr-0">
            <h4 class="card-header">
                Reportes by Categorias:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div
>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-1">
            <div id="grafica"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br /><br /><br /><br /><br />
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Areas/Administrator/Scripts/Reports/Charts.js"></script>
<script>
    let $model = ($.parseJSON(`@Html.ToJson(Model)`));

    $(document).ready(function () {
        console.log("asdasd", $model);
        initChart($model, 1);
    });
</script>
