
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="card" id="products-app">
    <div class="row">
        <div class="col-md-11 mr-0 pr-0">
            <h4 class="card-header">
                Reportes by Ciudad:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <select class="form-control">
                <option value="1">Bogotá</option>
            </select>
        </div>

    </div>
</div>
