@model EcommerceClient.Models.Views.CategoriesVModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

    <div class="card" id="categories-app">
        <div class="row">
            <div class="col-md-11 mr-0 pr-0">
                <h4 class="card-header">Categorias</h4>
            </div>
            <div class="col-md-1 card-header ml-0 pl-0 text-right pr-4">
                <a data-toggle="modal" data-target="#modalCreate" v-on:click="restartCategory()" class="btn-floating btn-lg btn-primary text-white">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="">Nombre</th>
                                <th scope="col" class="">Descripción</th>
                                <th scope="col" class="">Estado</th>
                                <th scope="col" style="max-width:90px !important; width:90px !important;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(category, idx) in categories">
                                <th scope="row">{{ idx+1}}</th>
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td>{{ ( category.status) ? 'Activo'  : 'Inactivo' }}</td>
                                <td class="text-center ">

                                    <div class="row">
                                        <div class="col-md-4 text-center p-0 m-0">
                                            <!-- Default switch -->
                                            <div class="custom-control custom-switch" data-toggle="tooltip" title="Cambiar estado">
                                                <input type="checkbox" class="custom-control-input cursor-pointer" :id="'swt-'+idx" :checked="(category.status)" v-on:change="changeStatus(category, idx)">
                                                <label class="custom-control-label cursor-pointer" :for="'swt-'+idx"></label>
                                            </div>

                                        </div>
                                        <div class="col-md-4 text-center p-0 m-0 cursor-pointer"  v-on:click="setTarget(category)" data-toggle="modal" data-target="#modalCreate">
                                            <i class="fas fa-edit text-warning" data-toggle="tooltip" title="Editar"></i>
                                        </div>

                                        <div class="col-md-4 text-center pr-1 pl-0 m-0 cursor-pointer" data-toggle="modal" data-target="#modalConfirmacion" v-on:click="setTarget(category)">
                                            <i class="fas fa-trash text-danger" data-toggle="tooltip" title="Eliminar"></i>
                                        </div>

                                    </div>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="successCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Hecho!</p>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                            <p>
                                {{ succsessMsg }}
                            </p>
                        </div>
                    </div>

                 
                
                </div>
                <!--/.Content-->
            </div>
        </div>

        <!-- Central Modal Medium Success-->
        <!--Modal Create-->
        <div class="modal fade right" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            {{ (flagEdit) ? 'Editar' : 'Crear' }} una categoria
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                           

                                    <!-- Card body -->
                                    <div class="card-body">
                                        <!-- Material form register -->
                                        <form>

                                            <!-- Material input text -->
                                            <div class="md-form">
                                                <input type="text" id="materialFormCardNameEx" class="form-control" v-model="category.name">
                                                <label for="materialFormCardNameEx" class="font-weight-light">Nombre de la categoría *</label>
                                            </div>


                                            <!-- Material textarea message -->
                                            <div class="md-form form-sm">
                                                <textarea type="text" id="materialFormMessageModalEx1"
                                                          class="md-textarea form-control" v-model="category.description"></textarea>
                                                <label for="materialFormMessageModalEx1">Descripción de la categoría.</label>
                                            </div>

                                        </form>
                                        <!-- Material form register -->

                                        <small class="text-danger">
                                            Datos incorrectos
                                        </small>
                                    </div>
                                    <!-- Card body -->
                            
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" v-on:click="processCategory()" :disabled="loading || validationWrong">
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Confirmación -->
        <div class="modal fade right" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalPreviewLabel">
                           Confirmación
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Eliminar esta categoria y todas sus subcategorias permanentemente?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteCategory()">Eliminar</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->


    </div>
    <!-- App -->
<script src="~/Areas/Administrator/Scripts/Categories/Categories.js"></script>
<script>

    let $model = ($.parseJSON(`@Html.ToJson(Model)`));


    $( document ).ready(function() {
        categoriesAppVue.initData($model);
    });

</script>

