.view.overlay {
    min-height: 216px;
    max-height: 216px;
}

.text-black {
    color : #212121;
}

.full-width {
    width:100%;
}

.text-corp {
    color: #1e88e5;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}