
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}


    <div class="card">
        <div class="row">
            <div class="col-md-11 mr-0 pr-0">
                <h4 class="card-header">Categorias</h4>
            </div>
            <div class="col-md-1 card-header ml-0 pl-0 text-right pr-4">
                <a data-toggle="modal" data-target="#modalCreate" v-on:click="restartCategory()" class="btn-floating btn-lg btn-primary text-white">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>
