@model EcommerceClient.Models.Views.ProductsVModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h4 class="card-header">Productos</h4>
    <div class="card-body">

    </div>
</div>

<script src="~/Areas/Administrator/Scripts/Products/Products.js"></script>
<script>

    let $model = ($.parseJSON(`@Html.ToJson(Model)`));


    $( document ).ready(function() {
        ProductAppVue.initData($model);
    });

</script>

