
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h4 class="card-header">Productos</h4>
    <div class="card-body">

    </div>
</div>

