@model EcommerceClient.Models.Views.HomeVModel
@{
    ViewBag.Title = "eCommerce";
}

<div id="home-view" style="margin-top:60px;">
    <div class="row">
        <!--Navbar -->
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark blue darken-1 full-width">
            <a class="navbar-brand" href="#">Categorias:</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav mr-auto">                 
                    <li class="nav-item dropdown" v-for="(category, idx) in categories">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ category.name }}
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" v-for="(sbcat) in category.subCategories" href="#" v-on:click="goToSucategory(sbcat)">{{ sbcat.name }}</a>                           
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-1">
                    <div class="md-form form-sm my-0">
                        <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Buscar"
                               aria-label="Buscar">
                    </div>
                    <button class="btn btn-outline-white btn-sm my-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!--/.Navbar -->
    </div>

    <div class="row mt-5">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <h5>Estado:</h5>
                    <!-- Default unchecked -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" checked>
                        <label class="custom-control-label" for="defaultUnchecked">Nuevo</label>
                    </div>

                    <!-- Default checked -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios">
                        <label class="custom-control-label" for="defaultChecked">Usado</label>
                    </div>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>Precio:</h5>
                    <!-- Default unchecked -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultUnchecked2" name="defaultExampleRadios2" checked>
                        <label class="custom-control-label" for="defaultUnchecked2">Más alto</label>
                    </div>

                    <!-- Default checked -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultChecked3" name="defaultExampleRadios2">
                        <label class="custom-control-label" for="defaultChecked3">Más bajo</label>
                    </div>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>CIudad:</h5>
                    <select class="form-control custom-select custom-select-sm" v-if="cities.length">
                        <option v-for="(city, idx) in cities" :value="city.id">
                            {{city.name}}
                        </option>
                    </select>
                </div>
            </div>


        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4 mt-3" v-for="(product, idx) in products">
                    <!-- Card --> 
                    <div class="card" >

                        <!-- Card image -->
                        <div class="view overlay" v-on:click="getProduct(product)">
                            <img class="card-img-top" :src="'../Uploads/'+product.principalImage" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <a href="#" v-on:click="getProduct(product)">
                                <h4 class="card-title">{{product.name}}</h4>
                            </a>
                            <!-- Text -->
                            <p class="card-text" v-html="product.description.substring(0, 120)">
                            </p>
                            <div class="row">
                                <div class="col-6 text-left">
                                    <strike class="text-secondary" v-if="product.isOutlet">$ {{product.price}}</strike><br v-if="product.isOutlet" />
                                    <span class="text-success"> $ {{ (product.isOutlet) ? product.outletPrice : product.price }}</span>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="btn btn-primary  btn-sm" v-on:click="addToCart(product)">
                                        <i class="fas fa-cart-plus"></i>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/Home/Home.js"></script>


<script>

    let $model = ($.parseJSON(`@Html.ToJson(Model)`));
      
    $( document ).ready(function() {
        vueHome.initData($model);
    });

</script>
